.background {
  /* text-align: center; */
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.contain-components {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.base-select {
  /* align-items: stretch; */
  /* color: wheat; */
  padding-top: 2%;
  padding-left: 2%;
  align-self: baseline;
}

.CS-grid-image {
  height: 70%;
  padding-bottom: 2%;
  padding-right: 2%;
  align-self: last baseline;
}