.background {
  /* text-align: center; */
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.contain-components {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.CRUD-select {
  padding-top: 2%;
  padding-left: 2%;
  align-self: baseline;
}

.CRUD-properties {
  align-self: center;
  padding-bottom: 2%;
}

.CRUD-outro {
  align-self: center;
  flex-direction: row;
  padding-bottom: 2%;
}

.CRUD-room-placeholderimg {
  height: 50%;
  align-self: last baseline;
}