.CRUD-docentes-properties {
  align-self: center;
  padding-bottom: 2%;
}

.CRUD-outro {
  align-self: center;
  flex-direction: row;
  padding-bottom: 2%;
}

.CRUD-docentes-placeholderimg {
  height: 20%;
  align-self: last baseline;
}