.placeholder-image {
  height: 10%;
  padding-bottom: 2%;
  padding-right: 2%;
  align-self: center;
}

.CRUD-lateral {
  display: flex;
  flex-direction: row;
}

.CRUD-Class-properties {
  display: flex;
  color: white;
  justify-items: center;
  flex-direction: column;
  background-color: #081C15;
  padding-bottom: 2%;
  border-radius: 4px;
}

.CRUD-Class-properties {
  align-self: center;
  align-items: center;
  padding-bottom: 2%;
}

.CRUD-Class-properties-YearSemester {
  display: flex;
}

.CRUD-Class-properties-NewTimePeriod-icon {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 100%;
}

.CRUD-Class-properties-timeperiods {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #74C69D;
}

.CRUD-timeperiod-properties {
  display: flex;
  flex-direction: row;
  background-color: #95D5B2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 10px;
}

.CRUD-class-timeperiods {
  color: black;
  padding: 10px;
}

.CRUD-timeperiod-property {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding-left: 10px;
}

.CRUD-timeperiod-property-room {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding-left: 10px;
  width: 20%;
}


.CRUD-Class-properties-timeperiods-title {
  font-weight: bolder;
  font-size: x-large;
  padding-left: 20px;
}