.background {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.CRUD-contain-components {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    /* align-items: center; */
}