.participants-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1em;
    margin: 2vw;
    border: 1px solid #dee2e6;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;

    background-color: #296323;
}

.participants-title {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-weight: 700;
    color: #000000;
}

.participants-number {
    font-size: 1.5em;
    color: #18191b;
    margin-right: 1em;
}

.participants-icon {
    margin-right: .5em;
}

.participants-list {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: max-content;
}

.participants-participant {
    color: #c6c6c6;
}