*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.idx
*.ind
*.ilg
*.toc
*.blg
*.brf
*.lof
*.lot
*.bbl
*.lol
Files/Outras monografias/202405 - João Vítor Fernandes Dias/Apresentações/~$TCC_JoaoVitorFernandesDias - Apresentação - V2 - Enxugado.pptx
